<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Multithreading">
    <test name="Entity">
        <classes>
            <class name="test.com.ltp.multithreading.entity.state.CarStateTest"></class>
        </classes>
    </test>
</suite>